__pycache__/
*.py[cod]
*.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.ipynb_checkpoints
.python-version
celerybeat-schedule
*.sage.py
.env
.env.*
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.prof
.c9/
.c9revisions/
*.launch
*.code-workspace
.aws-sam/
.idea/
docs/_build/
*.manifest
*.spec
Thumbs.db
Desktop.ini
.BIN/
.DS_Store
.AppleDouble
.LSOverride
